{% extends 'base.html' %}
{% block content %}
<h3><a href="{{ bar.get_absolute_url }}">{{ bar.title }}</a></h3>
<p>{{ bar.description }}</p>
<p>Asked by {{ bar.user.username }} on {{ bar.created_at }}</p>
{% if bar.user == user %}
<p><a href="{% url 'bar_update' pk=bar.id %}">Edit this post</a></p>
<p><a href="{% url 'bar_delete' pk=bar.id %}">Delete post</a></p>
{% endif %}
{% if responses.count > 0 %}
<h3>{{ responses.count }} Response{{ responses.count|pluralize }}:</h3>
{% endif %}
{% for response in responses %}
<div class="panel">
    <p>{{ response.text }}</p>
    {% if response.user == user %}
    <p><a href="{% url 'response_update' bar_pk=bar.id response_pk=response.id %}">Edit response</a></p>
    <p><a href="{% url 'response_delete' bar_pk=bar.id response_pk=response.id %}">Delete response</a></p>
{% endif %}
    <p>Responded by {{ response.user.username }} on {{ response.created_at }}</p>
</div>
{% endfor %}
{% if not user_answers %}
<p><a href="{% url 'response_create' pk=bar.id %}">Write response</a></p>
{% endif %}
{% endblock %}