{% extends 'base.html' %}
{% block content %}
{% for bar in object_list %}
<div class="panel">
  <h3><a href="{{ bar.get_absolute_url }}">{{ bar.title }}</a></h3>

   <p>Added by <a href="{% url 'user_detail' slug=bar.user.username %}">{{ bar.user.username }}</a> on {{ bar.created_at }}</p>

<form method="post" action="{% url 'vote' %}">
    <span class="badge">{{ bar.response_set.all.count }} Response{{ bar.response_set.all.count | pluralize }}</span>
    <span class="badge">{{ bar.vote_set.all.count }} Vote{{ bar.vote_set.all.count|pluralize }}</span> 
    {% csrf_token %}
    <input type="hidden" name="bar" value="{{ bar.id }}" />
    <input type="hidden" name="user" value="{{ user.id }}" />
        {% if bar in user_votes %}  
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
        {% else %}
        <button class="btn btn-link">
          <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        {% endif %}
    </form>  
</div>
{% empty %}
<p>No results found.</p>
{% endfor %}
{% if is_paginated %}
<nav>
    <ul class="pager">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endblock %}